@import "grid.less";

body {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 10pt;
}
@link-color: #000000;
@link-hover-color: #666666;
a {
    color: @link-color;
}
a:hover {
    color: @link-hover-color;
}

a > img {
    border: none;
}
h3 {
    margin-bottom: 0.5em;
}
h3 > a {
    text-decoration: none;
}

#middle {
    .grid(10);
    .push(3);
}

@sidebarmargin: 182px;

#left {
    .grid(3);
    .pull(10);
    margin-top: @sidebarmargin;
}
#right {
    .grid(3);
    margin-top: @sidebarmargin;
}

#logo {
    margin-left: 36px;
    margin-top: 23px;
}
#khadaffi {
    margin-left: 34px;
}
#prose {
    margin-left: 36px;
    margin-top: 6px;
    margin-bottom: 23px;
    
}
#menu {
    
    .grid(4);
    .pull(4);
    
    ul {
        list-style-type: none;
        margin: auto;
        
        li {
            float: left;
        }
        
        a {
            text-decoration: none;
            margin-left: 5px;
            margin-right: 5px;
            line-height: 32px;
        }

    }
}
#share {
    .grid(4);
    .push(6);
    margin-bottom: 16px;
}

#twitterfeed {
    width: 22ex;
    ul {


        list-style-type: none;
        margin: 0;
        padding: 0;


        li {
            padding-bottom: 1.5ex;

            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
        }
    }
    .tweet_links {
        a {
            text-decoration: none;
            color: #BB6666;
        }
        a:hover {
            text-decoration: underline;
        }        
        
    }
    .tweet_text {
        .tweet_links;
        color: #992222;
    }
    .tweet_time {
        .tweet_links;

        a {
            color: #BBBBBB;
        }
        a:hover {
            color: @link-hover-color;
            text-decoration: none;
        }
    }
    a.tweet_user {
        text-decoration: none;
    }

}
